.bender
doc/build
logs/*
!logs/.gitkeep
scripts/__pycache__
scripts/compile_vsim.tcl
scripts/compile_vcs.sh
verilator/files*.txt
work
*.wlf
modelsim.ini
transcript
*.vstf
vc_hdrs.h
ucli.key
work-vcs
bin
*.elf
AN.DB
*.log
obj_*
sources.txt
pickle
*.frag
contributions.txt
open_todos.txt
gmon.out
.nfs*
*non-free*
bender
morty
