# Copyright 2022 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# Author: Thomas Benz <tbenz@iis.ee.ethz.ch>

variables:
  SPHINXBUILD: "/home/tbenz/.local/bin/sphinx-build"
  MORTY: "/home/tbenz/.cargo/bin/morty"

before_script:
  - source ~paulsc/.bashrc

stages:
  - check
  - lint
  - analyze
  - pickle
  - doc
  - prepare-non-free
  - iDMA


lint-commits:
  stage: lint
  script:
    - python3 util/lint-commits.py HEAD

lint-license:
  stage: lint
  script:
    - scripts/check-license

lint-verilog:
  stage: lint
  script:
    - scripts/verible-lint

lint-python:
  stage: lint
  script:
    - scripts/python-lint

check-clean:
  stage: check
  script:
    - make -B prepare_sim gen_ci gen_regs
    - make clean
    - git status && test -z "$(git status --porcelain)"

check-stale:
  stage: check
  script:
    - make -B prepare_sim gen_ci gen_regs
    - git status && test -z "$(git status --porcelain)"

analyze-contributors:
  stage: analyze
  script: scripts/list-contributors | tee contributions.txt
  artifacts:
    paths:
      - contributions.txt

analyze-todos:
  stage: analyze
  allow_failure: true
  script: scripts/list-todos | tee open_todos.txt
  artifacts:
    paths:
      - open_todos.txt

doc:
  stage: doc
  script:
    - make doc
  artifacts:
      expire_in: 1 week
      paths:
        - doc/build

morty-pickle:
  stage: pickle
  script:
    - make -B pickle
  artifacts:
      expire_in: 1 week
      paths:
        - pickle


############# Below: only works on IIS machines ####################

prepare-non-free:
  stage: prepare-non-free
  script:
    - git clone git@iis-git.ee.ethz.ch:bslk/idma-non-free.git
    - cd idma-non-free
    - git checkout deploy
    - make -B gen_sub_ci
  artifacts:
      paths:
        - idma-non-free/ci/*.yml


# Below: Automatically generated by util/gen_ci.py

backend-run:
  stage: iDMA
  needs:
    - prepare-non-free
  trigger:
    include:
      - artifact: idma-non-free/ci/gitlab-backend-ci.yml
        job: prepare-non-free
    strategy: depend

backend-occamy-run:
  stage: iDMA
  needs:
    - prepare-non-free
  trigger:
    include:
      - artifact: idma-non-free/ci/gitlab-backend-occamy-ci.yml
        job: prepare-non-free
    strategy: depend

tiny-dma-run:
  stage: iDMA
  needs:
    - prepare-non-free
  trigger:
    include:
      - artifact: idma-non-free/ci/gitlab-tiny-dma-ci.yml
        job: prepare-non-free
    strategy: depend

4d-ext-run:
  stage: iDMA
  needs:
    - prepare-non-free
  trigger:
    include:
      - artifact: idma-non-free/ci/gitlab-4d-ext-ci.yml
        job: prepare-non-free
    strategy: depend

