GitPython
hjson
tabulate
pyyaml
mako
sphinx
sphinx-rtd-theme
recommonmark
sphinxcontrib-svg2pdfconverter
pylint
flatdict
peakrdl
peakrdl-rawheader @ git+https://github.com/micprog/PeakRDL-rawheader.git
